:root {
  --font-family: Arial, sans-serif;
  --background-color: #1a1a1a;
  --text-color: #fff;
  --primary-color: #4CAF50;
  --secondary-background-color: #2a2a2a;
  --border-color: #333;
  --border-color-light: #ccc;
  --input-background: #444;
  --input-text-color: #fff;
  --input-padding: 10px;
  --box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  --border-radius: 5px;
  --container-padding: 20px;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color); 
  color: var(--text-color); 
  padding: 0; 
  margin: 0; 
  height: 100vh; 
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--container-padding);
  box-sizing: border-box;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
}

.item-list li {
  width: calc(15% - 30px); 
  margin: 5px; 
  list-style: none;
  text-align: center; 
}

.li {
  list-style-type: none;
}

.results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  padding: 10px;
  border: 1px solid var(--border-color-light);
  border-radius: var(--border-radius);
  width: calc(100% - 20px);
  margin: 10px;
  box-sizing: border-box;
  position: relative;
}

.results span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  color: var(--text-color) !important;
  margin-top: 20px;
}

.custom-select {
  appearance: none;
  padding: 0.5rem 1rem;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  background-color: var(--secondary-background-color);
  font-size: 1rem;
  width: 100%;
  max-width: 300px;
  color: #ccc;
  box-sizing: border-box;
}

.custom-select option {
  padding: 0.5rem 1rem;
  background-color: var(--secondary-background-color);
  color: var(--text-color);
}

.calculator-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--secondary-background-color);
  padding: 40px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.crafting-calculator {
  background-color: var(--secondary-background-color);
  padding: 40px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  transition: opacity 0.5s ease;
  max-width: 400px;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.crafting-calculator h1 {
  color: var(--text-color);
  font-size: 24px;
  margin-bottom: 20px;
}

.crafting-calculator label {
  color: #ccc;
  display: block;
  margin-bottom: 10px;
}

.crafting-calculator input[type="text"],
.crafting-calculator input[type="number"] {
  width: calc(100% - 20px);
  padding: var(--input-padding);
  margin-bottom: 20px;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  background-color: var(--input-background);
  color: var(--input-text-color);
  box-sizing: border-box;
}

.crafting-calculator button {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 12px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}
